body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#miniMap {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}

.miniMapTile.empty {
  background-color: gray;
}

.miniMapTile.wall {
  background-color: white;
}

.miniMapTile.teleport {
  background-color: blue;
}

.miniMapTile.mine {
  background-color: red;
}

.miniMapTile.patron {
    background-color: orange;
}

.miniMapTile.bush {
  background-color: green;
}
