body {
  margin: 0;
  overflow: hidden;
  padding: 0;
  height: 100vh;
}

#game {
  position: absolute;
}

@media (orientation: landscape) {
  #game {
    width: 100vh;
    height: 100vh;
    left: calc((100vw - 100vh) / 2);
  }
}

@media (orientation: portrait) {
  #game {
    width: 100vw;
    height: 100vw;
    top: calc((100vh - 100vw) / 2);
  }
}

#miniMap {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
  height: 25%;
}

.miniMapTile.empty {
  background-color: gray;
}

.miniMapTile.wall {
  background-color: white;
}

.miniMapTile.teleport {
  background-color: blue;
}

.miniMapTile.mine {
  background-color: red;
}

.miniMapTile.patron {
  background-color: orange;
}

.miniMapTile.bush {
  background-color: green;
}

#scoreBoard {
  left: 0;
  position: absolute;
}

.bg-start-phone {
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: #008fd0;
  background-size: cover;
}
#background-start {
  height: 100%;
  position: relative;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  background-color: #008fd0;
}
.logo-and-btn-wrap {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 50%;
  top: 40%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.logo-start {
  width: 250px;
}
.btn-home {
  width: 200px;
  height: 65px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  transform: translateY(-1px);
  transition: all 0.1s;
  cursor: pointer;
}
.btn-start {
  background-image: url("../src/assets/images--landing/btn-start.png");
}
.btn-about-game {
  background-image: url("../src/assets/images--landing/btn-about-game.png");
}
.btn-donate {
  background-image: url("../src/assets/images--landing/btn-donate.png");
}
.btn-collection {
  background-image: url("../src/assets/images--landing/btn-collections.png");
}
.btn-home:hover {
  transition-duration: 200ms;
  transition: all 0.4s;
  transform: scaleX(1.1) scaleY(1.1);
}
