@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Comfortaa", "Tahoma", "Arial Black", sans-serif;
}

#game {
  position: absolute;
  overflow: hidden;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar-track {
  background-color: #f2d391;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #f2d391;
}

::-webkit-scrollbar-thumb {
  background-color: #d4701b;
}
@media (orientation: landscape) {
  #game {
    width: 100vh;
    height: 100vh;
    left: calc((100vw - 100vh) / 2);
  }
}

@media (orientation: portrait) {
  #game {
    width: 100vw;
    height: 100vw;
    top: calc((100vh - 100vw) / 2);
  }
}

#miniMap {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
  height: 25%;
}

.miniMapTile.empty {
  background-color: rgba(0, 0, 0, 0.56);
}

.miniMapTile.teleport {
  background-color: #008fd0;
}

.miniMapTile.flag {
  background-color: red;
}

.miniMapTile.dog {
  background-color: #f4960f;
}

.miniMapTile.bush,
.miniMapTile.garden,
.miniMapTile.beach,
.miniMapTile.tire,
.miniMapTile.city,
.miniMapTile.ruins,
.miniMapTile.car,
.miniMapTile.wall,
.miniMapTile.tower,
.miniMapTile.iceCream,
.miniMapTile.trailer,
.miniMapTile.light {
  background-color: #729641;
}

#scoreBoard {
  left: 10px;
  top: 10px;
  position: absolute;
}

#arrowIcons #upArrowIcon {
  right: 110px;
  bottom: 110px;
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("../src/assets/images/icons/icon-up-ui.png");
  cursor: pointer;
  background-size: contain;
}
#arrowIcons #leftArrowIcon {
  right: 210px;
  bottom: 10px;
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("../src/assets/images/icons/icon-left-ui.png");
  cursor: pointer;
  background-size: contain;
}
#arrowIcons #downArrowIcon {
  right: 110px;
  bottom: 10px;
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("../src/assets/images/icons/icon-down-ui.png");
  cursor: pointer;
  background-size: contain;
}
#arrowIcons #rightArrowIcon {
  right: 10px;
  bottom: 10px;
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("../src/assets/images/icons/icon-right-ui.png");
  cursor: pointer;
  background-size: contain;
}

#actionIcons #actionIcon {
  left: 10px;
  bottom: 10px;
  position: absolute;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-size: contain;
}
#actionIcons .actionIconFlag {
  background-image: url("../src/assets/images/icons/icon-flag-ui.png");
}
#actionIcons .actionIconPortal {
  background-image: url("../src/assets/images/icons/icon-portal-ui.png");
}
#actionIcons .actionIconBite {
  background-image: url("../src/assets/images/icons/icon-bite-ui.png");
}

#background-start {
  height: 100%;
  position: relative;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  background-color: #008fd0;
}
.logo-and-btn-wrap {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 50%;
  top: 45%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.logo-start {
  width: 250px;
}
.btn-home {
  width: 200px;
  height: 65px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  transform: translateY(-1px);
  transition: all 0.1s;
  cursor: pointer;
}
.btn-donate-popup,
.btn-to-home {
  background-color: transparent;
  border: none;
  transform: translateY(-1px);
  transition: all 0.1s;
  cursor: pointer;
  font-size: 9px;
  text-align: center;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
  height: 35px;
  margin-top: 10px;
}
.btn-donate-popup:hover {
  text-decoration: underline;
}
.btn-next-level {
  width: 138px;
  height: 45px;
  background-image: url("../src/assets/images--landing/btn-play-next-level.png");
}
.btn-play-again {
  width: 138px;
  height: 45px;
  background-image: url("../src/assets/images--landing/btn-start-popUp.png");
}
.btn-start-next-level {
  width: 138px;
  height: 45px;
  background-image: url("../src/assets/images--landing/btn-start-popUp.png");
}
.btn-start {
  background-image: url("../src/assets/images--landing/btn-start.png");
}
.btn-about-game {
  background-image: url("../src/assets/images--landing/btn-about-game.png");
}
.btn-donate {
  background-image: url("../src/assets/images--landing/btn-donate.png");
}
.btn-collection {
  background-image: url("../src/assets/images--landing/btn-collections.png");
}
.btn-back {
  background-image: url("../src/assets/images--landing/btn-home.png");
  background-size: contain;
  margin-right: auto;
  margin-left: auto;
  background-position: bottom;
}
.btn-home:hover {
  transition-duration: 200ms;
  transition: all 0.4s;
  transform: scaleX(1.1) scaleY(1.1);
}

.timer {
  position: absolute;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.56);
  padding: 5px 10px 5px 20px;
  top: 15px;
  left: 35px;
}
.mines {
  position: absolute;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.56);
  padding: 5px 10px 5px 40px;
  top: 15px;
  left: 165px;
  width: 60px;
}
#scoreBoardTimerMinutes,
#scoreBoardTimerSeconds,
.minutesSecondsСolon {
  font-weight: 900;
  font-size: 18px;
  color: #1ecbca;
  font-family: sans-serif;
}

.timerIcon {
  position: absolute;
  z-index: 99;
  background-image: url(assets/images/icons/time-icon.png);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
}
.minesIcon {
  position: absolute;
  left: 130px;
  z-index: 99;
  background-image: url(assets/images/icons/mine-icon.png);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
}
.scoreMines {
  font-weight: 900;
  font-size: 18px;
  color: #f4960f;
  font-family: sans-serif;
}

.scoreMinesСolon,
#scoreBoardMinesAll {
  font-weight: 600;
  font-size: 12px;
  color: #f4e2a3;
  font-family: sans-serif;
}
.about-game {
  padding: 0;
  margin: 0;
  background: rgb(222, 254, 207);
  background: linear-gradient(
    0deg,
    rgba(222, 254, 207, 1) 0%,
    rgba(148, 212, 240, 1) 50%,
    rgba(76, 120, 197, 1) 100%
  );
}

#about {
  background: url(assets/images--landing/footer-about-us-page.svg)
    rgba(35, 13, 9, 0.7) center bottom no-repeat;
  background-size: contain;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.logo-about-game {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.aboutTextWrap {
  position: relative;
  max-width: 900px;
  width: inherit;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}
.mines-wrap {
  width: 60%;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.mine-item {
  width: 120px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.mine {
  width: 120px;
  height: 200px;
  transition-duration: 0.1s;
}
.name-title-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;
}
.mine-name {
  text-align: center;
  font-size: 14px;
}
.mine-name:hover,
.mine-name:focus {
  text-decoration: underline;
  cursor: pointer;
}
.mine-name--disable {
  color: #969180;
}
.mine-name--normal {
  color: white;
}
.info-icon {
  position: absolute;
  top: -20px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  background: url(assets/images--landing/info-icon.svg) center bottom no-repeat;
  background-size: contain;
}
.info-icon:hover {
  opacity: 1;
  cursor: pointer;
}
.mine--disable {
  filter: grayscale(100%) opacity(0.2);
  transition-duration: 0.1s;
}
.mine--disable:hover {
  cursor: pointer;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transform: translateY(-10px) scale(1.1);
  filter: grayscale(70%) opacity(0.6);
}
.mine:hover {
  cursor: pointer;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transform: translateY(-10px) scale(1.1);
}

.about-game-text {
  width: inherit;
  font-size: 14px;
  color: white;
  line-height: 1.4;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 50px;
  text-align: center;
  overflow: auto;
  height: inherit;
}
.about-game-text-wrap {
  padding: 5% 50px;
}
.about-game-text-wrap-first-block {
  padding: 5% 50px;
}
.finish-popUp-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}
.attention-bg {
  background-color: #d31818;
  border-radius: 15px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn-collection-wrap {
  max-width: 400px;
}
.about-game-subtitle {
  font-size: 16px;
  color: #ffffff;
  -webkit-text-stroke: 1px #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  margin-top: 60px;
}
.bg-start-phone {
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: #008fd0;
  background-size: cover;
}
.info-bg {
  background-color: rgba(242, 211, 145, 0.5);
  border-radius: 50px;
  width: 300px;
  height: 40px;
  padding: 2px auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
.info-text {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 15px;
  font-size: 12px;
}
.mine-pop-up-wrap {
  width: 450px;
  height: 550px;
  position: fixed;
  background-color: transparent;
  background-image: url(assets/images--landing/collection-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: 999;
  top: 15%;
  margin-right: -50%;
  animation: scale-in-center 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation-fill-mode: forwards;
}
.close-pop-up {
  position: absolute;
  right: 0;
  top: -10px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  width: 35px;
  height: 35px;
  background-image: url(assets/images--landing/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition-duration: 0.2s;
}
.pop-up-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 60px;
}
.mine-full-name {
  margin: 15px 0 10px 0;
  font-size: 14px;
  color: black;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
}
.weight-mine,
.distance-mine {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: black;
}
.description-mine {
  margin-top: 10px;
  font-size: 11px;
  color: black;
  text-align: center;
  line-height: 2;
}
.mine-photo {
  height: 160px;
  width: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
@keyframes scale-in-center {
  0% {
    transform: rotateX(-100deg) translate(-50%, -50%);
    transform-origin: top;
    filter: blur(50px);
    opacity: 0;
    left: 50%;
    top: 5%;
  }
  100% {
    transform: rotateX(0deg) translate(-50%, -50%);
    filter: blur(0);
    transform-origin: top;
    opacity: 1;
    left: 50%;
    top: 50%;
  }
}
@keyframes scale-back {
  0% {
    transform: rotateX(0deg) translate(-50%, -50%);
    filter: blur(0);
    transform-origin: top;
    opacity: 1;
    left: 50%;
    top: 15%;
  }
  100% {
    transform: rotateX(-100deg) translate(-50%, -50%);
    transform-origin: top;
    filter: blur(50px);
    opacity: 0;
    left: 50%;
    top: 5%;
  }
}
.endPopUpBg {
  position: relative;
  max-width: 400px;
  height: 500px;
  width: inherit;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(assets/images--landing/collection-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.endTitle {
  font-size: 14px;
  color: black;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
}
.level-popUp {
  width: 200px;
  margin-top: 20px;
}

.disclaimer-title {
  margin-top: 30px;
}
.socialIcon {
  width: 30px;
  margin: 0 10px;
  cursor: pointer;
}
.rulesWrap {
  position: relative;
  max-width: 800px;
  width: inherit;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.mine-wrap {
  position: absolute;
  max-width: 300px;
  bottom: -30px;
  right: 40px;
}
.disclaimer {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: white;
  opacity: 0.6;
  font-size: 14px;
  padding: 0 10%;
  line-height: 1.6;
}
.social-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.textMail {
  font-size: 16px;
  color: white;
  font-weight: bold;
  line-height: 1.2em;
  text-decoration: underline;
  max-width: 700px;
  margin-left: auto;
  display: block;
  margin-right: auto;
  text-align: center;
  margin-bottom: 50px;
}
.email {
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;

  color: white;
  font-size: 14px;
  padding: 0 10%;
  line-height: 1.6;
}
.collections {
  position: relative;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  background: rgb(222, 254, 207);
  background: linear-gradient(
    0deg,
    rgba(222, 254, 207, 1) 0%,
    rgba(148, 212, 240, 1) 50%,
    rgba(76, 120, 197, 1) 100%
  );
}
.collections-wrap {
  background: rgba(35, 13, 9, 0.7) center bottom no-repeat;
  background-size: contain;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.btn-collection-wrap {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}
.collections-bg {
  display: flex;
  flex-direction: column;
}

.attention-description {
  text-align: left;
  line-height: 1.6;
}
.attention-title {
  text-align: center;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
}
#mine-popup {
  position: absolute;
  z-index: auto;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
}
.popUpMineWrap {
  position: relative;
  height: inherit;
}

.close-pop-up:hover {
  transform: rotate(90deg);
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}

.dog-finish-popUp {
  width: 150px;
  margin-bottom: 20px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(78, 81, 71, 0.7);
  z-index: auto;
}
.overlay.animate {
  transition: all;
  transition-duration: 0.6s;
  background: linear-gradient(
    0deg,
    rgba(78, 81, 71, 0.6) 0%,
    rgba(57, 75, 78, 0.6) 49%,
    rgba(44, 56, 72, 0.8) 100%
  );
}
.popUpMine1 {
  display: none;
}

.popUpStart {
  margin: 0;
  width: 100vw;
  overflow: auto;
  height: 100vh;
}
#bg-popUp-finish,
#bg-popUp-finish-fail,
#bg-popUp-happy-finish {
  background: url(assets/images--landing/footer-about-us-page.svg)
    rgba(35, 13, 9, 0.7) center bottom no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
}
#bg-popUp-start {
  background: url(assets/images--landing/footer-about-us-page.svg)
    rgba(35, 13, 9, 0.7) center bottom no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
}

.level-description {
  font-size: 11px;
  color: black;
  text-align: center;
}

.boxLoading {
  --color: white;
  --size-mid: 6vmin;
  --size-dot: 1.5vmin;
  --size-bar: 0.4vmin;
  --size-square: 3vmin;

  position: relative;
  width: 50%;
  display: grid;
  margin-top: 36px;
}

.boxLoading::before,
.boxLoading::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
}

/**
  boxLoading --6
**/
.boxLoading.--6::before {
  width: var(--size-square);
  height: var(--size-square);
  background-color: var(--color);
  top: calc(50% - var(--size-square));
  left: calc(50% - var(--size-square));
  animation: boxLoading-6 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes boxLoading-6 {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

/**
  boxLoading --7
**/
.boxLoading.--7::before,
.boxLoading.--7::after {
  width: var(--size-square);
  height: var(--size-square);
  background-color: var(--color);
}

.boxLoading.--7::before {
  top: calc(50% - var(--size-square));
  left: calc(50% - var(--size-square));
  animation: boxLoading-6 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.boxLoading.--7::after {
  top: 50%;
  left: 50%;
  animation: boxLoading-7 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes boxLoading-7 {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}

.boxLoadingText {
  margin: 60px auto 0 auto;
  font-size: 24px;
  color: #ffffff;
}

.loading {
  display: none;
}
.about-game-start {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.supportukraine {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 70px;
}
.supportukraineAboutPage {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  width: 100%;
  height: 70px;
}
.supportukraineLink {
  padding: 5px;
  display: flex;
  cursor: pointer;
}
.supportukraineLinkHomePage {
  background-position: right;
}
.supportukraineLinkAboutPage {
  background-position: center;
}
@media (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  .socialIcon {
    width: 50px;
    margin: 0 30px;
  }
  .social-wrap {
    margin-bottom: 20px;
  }
  .btn-start-next-level,
  .btn-play-again,
  .btn-next-level,
  .btn-back {
    width: 200px;
    height: 80px;
    background-size: contain;
  }
  .btn-donate-popup,
  .btn-to-home {
    font-size: 16px;
  }
  .finish-popUp-wrap {
    padding: 15%;
  }
  #level-popup {
    width: inherit;
    height: inherit;
  }
  .endPopUpBg {
    width: 90%;
    max-width: 90%;
    height: 90%;
    background-position: top center;
  }
  .endTitle {
    font-size: 24px;
  }
  .level-popUp {
    width: 80%;
  }

  .dog-finish-popUp {
    width: 60%;
  }
  .close-pop-up {
    top: -20px;
    width: 55px;
    height: 55px;
  }
  .mine-full-name {
    margin: 25px 0 20px 0;
    font-size: 24px;
  }
  .pop-up-content {
    padding: 15%;
  }
  .mine-pop-up-wrap {
    width: 90%;
    height: 90%;
    background-position: top center;
  }
  .weight-mine,
  .distance-mine {
    margin: 0;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .description-mine {
    margin-top: 20px;
    font-size: 22px;
  }

  .mine-photo {
    height: inherit;
    width: 70%;
  }
  .info-bg {
    background-color: transparent;
    width: 350px;
    height: 50px;
  }
  .mine-name {
    font-size: 22px;
  }
  .mine-item {
    margin-left: 30px;
    margin-right: 30px;
  }
  .info-text,
  .level-description {
    font-size: 16px;
  }
  .bg-start-phone {
    width: fit-content;
    background-color: #008fd0;
    background-size: inherit;
  }

  .about-game-text {
    font-size: 16px;
    padding: 20px;
  }
  .mines-wrap {
    width: 80%;
  }
  .attention-bg {
    width: 80%;
  }
  .btn-collection-wrap {
    max-width: 80%;
  }
  .about-game-subtitle {
    font-size: 18px;
  }
  .about-game-text-wrap {
    padding: 5% 50px;
  }
  #arrowIcons #upArrowIcon {
    width: 150px;
    height: 150px;
    right: 160px;
    bottom: 160px;
  }
  #arrowIcons #leftArrowIcon {
    width: 150px;
    height: 150px;
    right: 310px;
  }
  #arrowIcons #downArrowIcon {
    width: 150px;
    height: 150px;
    right: 160px;
  }
  #arrowIcons #rightArrowIcon {
    width: 150px;
    height: 150px;
  }

  #actionIcons #actionIcon {
    width: 150px;
    height: 150px;
  }
  .logo-start {
    width: 80%;
  }
  .btn-start,
  .btn-about-game,
  .btn-donate,
  .btn-collection {
    width: 80%;
    background-size: contain;
    height: 150px;
    background-position: bottom;
  }
  .logo-and-btn-wrap {
    width: 60%;
  }
  #bg-popUp-finish,
  #bg-popUp-finish-fail,
  #bg-popUp-happy-finish,
  #bg-popUp-start {
    overflow: hidden;
  }
  .supportukraine {
    justify-content: center;
    height: 120px;
  }
  .supportukraineLinkAboutPage {
    background-position: center;
  }
  .supportukraineAboutPage {
    height: 120px;
  }
}

@media (min-device-height: 320px) and (max-device-height: 767px) and (orientation: landscape) {
  .collections {
    overflow-y: scroll;
  }

  .mine-name {
    font-size: 18px;
  }
  #level-popup {
    width: inherit;
    height: 100%;
  }
  .bg-start-phone {
    width: 100%;
    background-color: #008fd0;
    background-size: inherit;
  }

  .about-game-text {
    font-size: 16px;
    padding: 20px;
  }

  .mines-wrap {
    width: 70%;
  }

  .attention-bg {
    width: 80%;
  }

  .btn-collection-wrap {
    max-width: 80%;
  }

  .about-game-subtitle {
    font-size: 18px;
  }

  .about-game-text-wrap {
    padding: 5% 50px;
  }

  #arrowIcons #upArrowIcon {
    width: 100px;
    height: 100px;
  }

  #arrowIcons #leftArrowIcon {
    width: 100px;
    height: 100px;
  }

  #arrowIcons #downArrowIcon {
    width: 100px;
    height: 100px;
  }

  #arrowIcons #rightArrowIcon {
    width: 100px;
    height: 100px;
  }

  #actionIcons #actionIcon {
    width: 100px;
    height: 100px;
  }

  .logo-start {
    width: 100px;
  }

  .btn-start,
  .btn-about-game,
  .btn-donate,
  .btn-collection {
    width: 60%;
    background-size: contain;
    height: 80px;
    background-position: bottom;
  }

  .logo-and-btn-wrap {
    width: 60%;
  }
  .mine-pop-up-wrap {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url(assets/images--landing/about-game-block1.svg);
    background-position: top center;
  }
  .weight-mine,
  .distance-mine {
    margin: 0;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .description-mine {
    margin-top: 10px;
    font-size: 14px;
  }
  .mine-full-name {
    font-size: 16px;
  }
  .mine-photo {
    height: inherit;
    width: 40%;
  }
  .pop-up-content {
    padding: 30px 25%;
  }
  .close-pop-up {
    top: 0;
    right: 70px;
    width: 35px;
    height: 35px;
  }
  .endPopUpBg {
    max-width: 80%;
    margin-top: 20px;
    background-image: url(assets/images--landing/about-game-block1.svg);
  }
  .info-text,
  .level-description {
    font-size: 14px;
  }
  .level-popUp {
    width: 200px;
    margin-top: 0;
  }
  .finish-popUp-wrap {
    padding: 60px 15%;
  }
}
